@import "partial/font";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
}

html {
  font-size: 63.5%;
}

body {
  font-family: "Segoe UI Variable Static Text", sans-serif;
  min-height: 100vh;
  height: 100%;
  max-height: 100%;
  width: 100%;
  background: url(../img/Background.jpg);
  background-size: cover;
  background-position: 0% 0%;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  overflow: hidden;
  overflow-y: auto;
  color: #fff;
  scroll-behavior: smooth;
  position: relative;

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab),
    url(../img/Background.jpg);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

  @media (max-width: 1250px) {
    padding: 4rem;
  }

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.video-bg {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

// Minimized mode
.minimized {
  .app {
    top: 100%;
    transform: translate(-50%, -30px);
    width: 500px;
    opacity: 0.5;

    &:hover {
      opacity: 0.75;
    }

    .maximize {
      top: 0;
      opacity: 1;

      transition: opacity 0.3s 0.5s, top 0s 0.5s;
    }
  }
}

.app {
  max-width: 1250px;
  width: 100%;
  margin: 6rem auto;
  border: 1px solid rgba(117, 117, 117, 0.4);
  background: rgba(32, 32, 32, 0.5);
  backdrop-filter: blur(240px);
  -webkit-backdrop-filter: blur(240px);
  background-blend-mode: color, luminosity;
  border-radius: 0.7rem;
  box-shadow: 0px 32px 64px rgba(0, 0, 0, 0.56),
    0px 2px 21px rgba(0, 0, 0, 0.55);
  overflow: hidden;

  /***********************************/
  // position: fixed;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);

  transition: top 0.5s 0s cubic-bezier(0.1, 1.2, 0.3, 1),
    transform 0.5s 0s cubic-bezier(0.1, 1.2, 0.3, 1),
    width 0.5s 0.5s cubic-bezier(0.1, 1.2, 0.3, 1), opacity 0.3s;
  /***********************************/

  // &.minimize {
  //   position: absolute;
  //   top: 100%;
  //   transform: translate(-50%, -30px);
  //   width: 200px;
  //   opacity: 0.5;
  // }

  // &.maximize{
  //   top: 0;
  //   opacity: 1;

  //   transition:
  //     opacity .3s .5s,
  //     top 0s .5s;
  // }
}

.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #202020;
  padding: 0.3rem 0.3rem 0.3rem 0.8rem;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;

  span {
    font-size: 1.2rem;
  }
}

.title-bar-caption-control-group {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    cursor: pointer;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 3rem;
    height: 3rem;

    &:hover {
      background-color: #8d8d8d;
    }
  }

  span:last-child:hover {
    background-color: #ff0000;
  }
}

.app-content {
  display: grid;
  grid-template-columns: 2.5fr 6fr;
  @media (max-width: 960px) {
    grid-template-columns: auto;
  }
  &.resize-app {
    grid-template-columns: auto;
  }
}

.app-content__left {
  padding: 1rem;
  transition: all 0.2s;
  &-top {
    display: flex;
    flex-direction: column;
    width: 100%;
    .menu-toggle {
      display: flex;
      align-items: center;
      gap: 1.4rem;

      span {
        font-size: 1.4rem;
        font-weight: bold;
      }
    }

    .search-chat-wrapper {
      position: relative;
      width: 100%;
      margin-top: 2rem;

      input {
        width: 100%;
        border: 0.2rem solid transparent;
        outline: none;
        background: rgba(255, 255, 255, 0.0605);
        border-radius: 0.3rem;
        padding: 0.7rem 4rem 0.7rem 0.5rem;
        color: #fff;
        font-size: 1.4rem;
        transition: all 0.1s;

        border-bottom: 0.1rem solid rgba(255, 255, 255, 0.4);

        &::placeholder {
          color: rgba(255, 255, 255, 0.786);
        }

        &:focus {
          border: 0.2rem solid #1566a3;
        }
      }

      .search-chat-wrapper__search-input-icon {
        position: absolute;
        top: 1rem;
        right: 1.3rem;
      }
    }

    &.hide-view {
      display: none;
    }
  }

  .app-content__left-content {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
    height: 79rem;
    padding: 0 0.2rem;
    // overflow: hidden;
    overflow-y: auto;

    /* width */
    &::-webkit-scrollbar {
      width: 0.4rem;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #2c2c2c;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #555;
      border-radius: 0.5rem;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  .chat-item-perfil.active {
    background: rgba(255, 255, 255, 0.0605);
    border: 1px solid rgba(255, 255, 255, 0.0605);
    border-radius: 4px;
    // position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 0.3rem;
      height: 2.8rem;
      background: #60cdff;
      border-radius: 9rem;
      top: 1.5rem;
      left: -0.2rem;
      z-index: 99999;
    }
  }

  .chat-item-perfil {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    transition: all 0.1s;
    border: 0.1rem solid transparent;
    padding: 0.4rem;

    & > * {
      transition: all 0.5s ease-in-out;
    }

    &:hover:not(.active) {
      background: rgba(255, 255, 255, 0.0605);
      border: 1px solid rgba(255, 255, 255, 0.0605);
      border-radius: 4px;
      cursor: pointer;
      & > * {
        transition: all 0.5s ease-in-out;
        transform: scale(1.03);
      }
    }

    // &.active {
    //   background: rgba(255, 255, 255, 0.0605);
    //   border: 1px solid rgba(255, 255, 255, 0.0605);
    //   border-radius: 4px;
    //   position: relative;

    //   &::before {
    //     content: "";
    //     position: absolute;
    //     width: 0.3rem;
    //     height: 2.8rem;
    //     background: #60cdff;
    //     border-radius: 9rem;
    //     top: 1.5rem;
    //     left: -.2rem;
    //     z-index: 9999;
    //   }
    // }

    &-left {
      display: flex;
      align-items: center;

      .img-perfil-wrapper {
        position: relative;
        span.active {
          position: absolute;
          width: 1.4rem;
          height: 1.4rem;
          background-color: #6ccb5f;
          border-radius: 50%;
          border: 0.3rem solid rgba(0, 0, 0, 0.8);
          top: 3rem;
          right: -0.5rem;
        }
      }

      .user-img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
      }

      &__wrapper {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        gap: 0.5rem;

        .row__top {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          .user-active {
            color: #6ccb5f;
            font-size: 1.6rem;
            font-weight: bold;
          }

          .user-plan {
            color: #fff;
            font-size: 1.6rem;
            font-weight: bold;
          }
        }

        .row__body {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          .text__message {
            color: #888888;
            font-size: 1.3rem;
            width: 20rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }

          .text__file {
            color: #0078d4;
            font-size: 1.3rem;
            transition: all 0.3s;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;
      gap: 0.8rem;
      height: 100%;

      .row-top {
        display: flex;
        align-items: center;
      }

      .row__body {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;

        .message-number {
          display: flex;
          align-items: center;
          justify-content: center;
          background: #0078d4;
          border-radius: 20px;
          width: 32px;
          height: 25px;
          font-size: 1.4rem;

          &.passed {
            background: #8a8a8a;
          }
        }
      }

      .message-send-time {
        color: #838383;
        font-size: 1.2rem;
      }
    }
  }

  @media (max-width: 960px) {
    display: none;
  }

  &.hide {
    display: none;
  }
}

/**************************************************************************************/
.app-content__right {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.7rem 0 0 0;
  background: rgba(58, 58, 58, 0.3);
  position: relative;
}

.chat-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.05);
  padding: 0.8rem 2rem;
  position: sticky;
}

.chat-head-info {
  display: flex;
  align-items: center;

  img {
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
  }

  .label {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin-left: 1rem;
    h3 {
      font-size: 1.6rem;
      color: #fff;
    }
    span {
      color: #888888;
      font-size: 1.2rem;
    }
  }
}

.chat-head-tool {
  display: flex;
  align-items: center;
  gap: 1rem;

  span {
    background: rgba(255, 255, 255, 0.07);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }
}

.app-content__right--container {
  display: flex;
  flex-direction: column;
  height: 83.5rem;
  overflow: hidden;
  overflow-y: auto;
  padding: 0 4rem;
  position: relative;

  @media (max-width: 960px) {
    padding: 0 2rem;
  }

  &.ajust {
    padding: 0 2rem;
  }

  /* width */
  &::-webkit-scrollbar {
    width: 0.6rem;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #2c2c2c;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #9fa0a1;
    border-radius: 0.5rem;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.app-content__right--message-date {
  border-radius: 1.7rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.8rem 1rem;
  background: rgba(255, 255, 255, 0.18);
  position: absolute;
  backdrop-filter: blur(10px);
  z-index: 999;
  font-size: 1.4rem;
  left: 50%;
  top: 0;
  transform: translate(-50%, 50%);
  transition: all 0.1s linear;
  opacity: 0;

  &:hover {
    opacity: 1;
  }
}

.app-content__left--message-content {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  padding: 0.6rem 0;
}

.img-perfil-user {
  object-fit: cover;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.4rem;

  div:nth-child(1) {
    border-radius: 0.4rem 1.4rem 1.4rem 0.4rem;
  }

  &__row-header {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);

    width: auto;
    padding: 1rem 1rem 0.4rem;

    .user--info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0.4rem;

      &__name {
        font-weight: bold;
        font-size: 1.2rem;
      }

      .--green {
        color: #6ccb5f;
      }

      .--red {
        color: #c8504f;
      }

      .--purple {
        color: #7b61ff;
      }

      &__function {
        color: #a1aab3;
        font-size: 1.2rem;
        font-weight: 100;
      }
    }

    .img-content {
      width: 30.7rem;
      height: 20.2rem;
      object-fit: cover;
    }

    .file-update {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .file-update-content {
      display: flex;
      flex-direction: column;
      padding-right: 4rem;
      span:nth-child(1) {
        font-size: 1.4rem;
        font-weight: bold;
      }

      span:nth-child(2) {
        color: #a1aab3;
        font-size: 1.4rem;
        margin-top: 0.5rem;
      }
    }

    .img-file-update-container {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      border-radius: 50%;

      svg {
        position: absolute;
      }

      img {
        border-radius: 50%;
        width: 4.5rem;
        height: 4.5rem;
      }

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.2)
        );
        // transition: all .2s;
        border: 0.2rem solid rgba(0, 0, 0, 0);
      }

      &:hover::before {
        background-position: center top;
        // background: linear-gradient(to right, rgba(195, 40, 40, 0.5), rgba(0, 0, 0, 0.2));
        border: 0.2rem solid #7b61ff;
        cursor: pointer;
      }
    }

    .text-time-position-abs {
      margin-left: auto;
      color: #a1aab3;
      font-size: 1.2rem;
    }

    .row--text {
      display: flex;
      align-items: center;
      font-size: 1.25rem;

      .text-time {
        margin-left: 1rem;
        color: #a1aab3;
        font-size: 1.15rem;
      }
    }
  }

  &__row {
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: auto;

    .text-time {
      margin-left: 1rem;
      color: #a1aab3;
      font-size: 1.15rem;
    }
  }

  &__row:nth-child(1) {
    border-radius: 0.4rem 1.4rem 1.4rem 0.4rem;
  }

  &__row:nth-child(2) {
    border-radius: 4px 14px 14px 14px;
  }

  .text-container__row__footer {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 0.5rem;
    gap: 1rem;

    .reaction-block {
      display: flex;
      align-items: center;
      margin-left: auto;
      background: rgba(96, 141, 209, 0.2);
      border: 0.5px solid #608dd1;
      border-radius: 1.5rem;
      padding: 0.3rem;
      display: flex;
      align-items: center;

      .reaction-emoji {
        font-size: 1.4rem;
        margin-right: 1rem;
      }

      .user-list-reacted {
        display: flex;
        align-items: center;
        img {
          width: 1.6rem;
          border-radius: 50%;
          margin-left: -0.5rem;
        }
      }
    }

    .user-left {
      display: flex;
      align-items: center;
      gap: 1rem;

      & > * {
        color: #a1aab3;
      }

      .user-left__number {
        font-size: 1.2rem;
      }
    }

    .text-time {
      color: #a1aab3;
      font-size: 1.15rem;
    }
  }
}

.app-content__right--message-content {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.6rem 0;
  margin-left: auto;

  .content__message {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    &--row {
      display: flex;
      align-items: center;

      &__text {
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        background-color: #393c45;
        padding: 1rem 1rem 1rem 2.2rem;
        border-radius: 0.5rem;
        position: relative;

        .user-name {
          color: #0f80d7;
          font-weight: bold;
          font-size: 1.2rem;
        }

        .text {
          font-size: 1.4rem;
        }

        &::before {
          content: "";
          position: absolute;
          left: 1rem;
          background-color: #0f80d7;
          height: 3.5rem;
          width: 0.4rem;
          border-radius: 0.3rem;
        }
      }

      img {
        width: 22rem;
        height: 22rem;
        border-radius: 50%;
        object-fit: cover;

        border: 0.2rem solid #0f80d7;
      }
    }

    .content__message--bottom {
      display: flex;
      flex-direction: column;
    }

    .play-container {
      margin-top: 1rem;
      display: flex;
      background: #1566a3;
      border-radius: 1.4rem 1.4rem 0.4rem 1.4rem;
      width: 100%;
      padding: 1rem;
      gap: 2rem;

      .play {
        width: 4.5rem;
        height: 4.5rem;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
          transform: scale(1.3);
        }
      }

      .controller {
        display: flex;
        flex-direction: column;
        position: relative;

        .titme-left-overflow,
        .titme-total-overflow {
          position: absolute;
          top: -4.5rem;
          background: rgba(0, 0, 0, 0.5);
          border-radius: 0.6rem;
          padding: 0.6rem;
          font-size: 1.2rem;
        }

        .titme-left-overflow {
          left: -4.5rem;
        }

        .titme-total-overflow {
          right: -1rem;
        }

        &--bottom {
          display: flex;
          align-items: center;
          margin-top: 0.5rem;

          .total-time {
            margin: 0 0.5rem 0 auto;
          }

          .time-left,
          .total-time {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

.text-container-plain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.4rem;

  div:nth-child(1) {
    border-radius: 1.4rem 1.4rem 1.4rem 0.4rem;
  }

  &__row-header {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);

    width: auto;
    padding: 1rem 0 0.4rem;

    .user--info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0.4rem;
      padding: 0 1rem;

      &__name {
        font-weight: bold;
        font-size: 1.2rem;
      }

      .--green {
        color: #6ccb5f;
      }

      .--red {
        color: #c8504f;
      }

      .--purple {
        color: #7b61ff;
      }

      &__function {
        color: #a1aab3;
        font-size: 1.2rem;
        font-weight: 100;
      }
    }

    .img-content {
      // width: 30.7rem;
      width: 100%;
      height: 20.2rem;
      object-fit: cover;
    }

    .text-message {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.8rem 1rem;

      span:nth-child(1) {
        font-size: 1.2rem;
      }

      span:nth-child(2) {
        color: #a1aab3;
        font-size: 1.1rem;
      }
    }
  }

  .text-container-plain__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 1rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0.4rem 1.4rem 1.4rem 1.4rem;
    gap: 1rem;

    span:nth-child(1) {
      font-size: 1.2rem;
    }

    span:nth-child(2) {
      color: #a1aab3;
      font-size: 1.1rem;
    }
  }
}

.chat-scroll-to-bottom {
  position: fixed;
  left: 93%;
  bottom: 6%;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  background: rgba(255, 255, 255, 0.05);
  transition: all 0.3s;
  cursor: pointer;

  span {
    position: absolute;
    content: "34";
    background-color: #005fb7;
    width: 30px;
    height: 22px;
    top: -1.5rem;
    left: 0.5rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
  }

  &::before {
  }
}

.wrapper-input-panel {
  width: 100%;
  padding: 1rem 4rem;
  @media (max-width: 960px) {
    padding: 1rem 2rem;
  }
  &.ajust {
    padding: 1rem 2rem;
  }
}

.input-panel {
  width: 100%;
  position: relative;

  input {
    width: 100%;
    background: rgba(255, 255, 255, 0.0512);
    border: none;
    outline: none;
    padding: 1rem 8rem 1rem 5rem;
    font-size: 1.6rem;
    border: 0.2rem solid rgba(0, 0, 0, 0);
    transition: all 0.3s;
    background: rgba(255, 255, 255, 0.0512);
    border-radius: 0.8rem;

    color: #fff;

    &::placeholder {
      color: #8a8a8a;
    }

    &:focus {
      border: 0.2rem solid #1267a3;
    }
  }

  svg {
    position: absolute;
    cursor: pointer;
    transition: all 0.4s;

    &:hover path {
      transition: all 0.3s;
      fill: #fff;
    }
  }

  .archive-svg {
    top: 1rem;
    left: 1rem;
  }

  .emoji-svg {
    top: 1rem;
    right: 5rem;
  }

  .microphone-svg {
    top: 1rem;
    right: 2rem;
  }
}

.text-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 999999;
  font-size: 1.6rem;
  padding: 2rem 1rem;

  p {
    color: #fff;
    text-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.6);
  }

  .open {
    font-weight: bold;
    color: yellow;
    text-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.04);
    }

    &.hide {
      display: none;
    }
  }
}

.me {
  a {
    color: yellow;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.6);

    transition: all 0.3s;

    &:hover {
      transform: scale(1.04);
    }
  }

  &.hide {
    display: none;
  }
}
