@font-face {
    font-family: "Segoe UI Variable Static Text";
    src: url('../../@fonts/SegoeUIVariableStaticText.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: "Segoe UI Variable Static Text";
    src: url('../../@fonts/SegoeUIVariableStaticTextBold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: "Segoe UI Variable Static Text";
    src: url('../../@fonts/SegoeUIVariableStaticTextLight.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: "Segoe UI Variable Static Text";
    src: url('../../@fonts/SegoeUIVariableStaticTextSemibold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: "Segoe UI Variable Static Text";
    src: url('../../@fonts/SegoeUIVariableStaticTextSemilight.ttf') format('truetype');
    font-weight: 200;
}